*{
    text-align: center;
}
.orange{
    background-color:orange;
}
.wbbg{
    background-color: blue;
    color: white;
}
tr:first-child{
    font-weight: bold;
}
tr:first-child > td::first-letter{
    font-size:xx-large;
}
tr:nth-child(2){
    font-size: xx-large;
}
tr:nth-child(3){
    font-size: xx-large;
}
tr:nth-child(4){
    font-size: xx-large;
}
tr:nth-child(5){
    font-size: xx-large;
}
tr:nth-child(6){
    font-size: xx-large;
}
tr:nth-child(7){
    font-size: xx-large;
}
tr:nth-child(8){
    font-size: xx-large;
}
tr>td:first-child{
    font-size: medium;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
tr:last-child{
    
}
