nav{
    text-align: center;
}
body{
    background-color: aquamarine;
}
.padd{
    padding-left:50px;
    padding-right: 50px;
}
#skills{
    border-style: solid;
    background-color: white;
}
#hard-skills{
    
}
#soft-skills{
    
}
#email{
    text-align: center;
}