.container{
    background-color: lightgrey;
    border: 1px solid black;
    display: flex;
    flex-direction:row;
}
#primera{
    background-color: lightskyblue;
}
#segunda{
    background-color: lightsalmon;
}
#tercera{
    background-color: lightgreen;
}