nav{
    text-align: center;
}
body{
    background-color: aquamarine;
}
.padd{
    padding-left:50px;
    padding-right: 50px;
}
#skills{
    
}
#hard-skills{
    background-image: url(pdhs1.png);
    background-repeat: no-repeat;
    background-size:cover;
    font-size: xx-large;
    border-style:double;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#hard-skills2{
    font-size: x-large;
}
#soft-skills{
    font-size: xx-large;
    font-family:'Times New Roman', Times, serif;
}
#soft-skills2{
    font-size: x-large;
}
#email{
    text-align: center;
}
#social-networks{
    text-align: center;
}
#hsimg{
    width:400px ;
    height:300px ;
    border-radius: 25%;
}
#ssimg{
    width:300px ;
    height:300px ;
    border-radius: 30%;
}
a{}